<h1>Reading List</h1>
<div class="row" ng-controller="ReadingListController as readingListCtrl">
    <button class="btn btn-default" ng-click="reviewFormCtrl.showForm=!reviewFormCtrl.showForm">
        {{reviewFormCtrl.showForm ? "Cancel" : "Create a Review"}}</button>
    <hr />
    <review-form books="readingListCtrl.books" genres="readingListCtrl.genres" ng-show="reviewFormCtrl.showForm"></review-form>
    <hr />
    <ul class="list-unstyled col-sm-8">
        <li class="book row" ng-repeat="book in readingListCtrl.books">
            <book-cover></book-cover>
            <div class="col-md-9">
                <h3><a href="https://www.amazon.com/gp/product/{{book.isbn}}">{{book.title}}</a></h3>
                <cite class="text-muted">Written by {{book.author}}</cite>
                <p>{{book.review}}</p>
 <book-genre genres="book.genres"></book-genre>
            </div>
        </li>
    </ul>
</div>